h1 {
  font-family: fantasy;
  font-size: 3em;
  border-bottom: 2px solid burlywood;
  border-right: 2px solid burlywood;
  text-align: center;
  width: 400px;
  box-shadow: 4px 4px 5px #888;
  padding-top: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 450px;
  height: 300px;
  margin: 15px;
  transition: all 1s;
}

img:hover {
  transform: scale(1.1);
  border-radius: 50%;
}
